<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DatabaseConnection"
			 connectionString="Server=DESKTOP-J6AOG6P\SQLEXPRESS;Database=BlankfactorAutomationCourse;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>